html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    width: 64%;
    margin-left: 17%;
    margin-top: 5%; 
    text-align: center;
    background-color: lightgrey;
    border: 2px solid black;
}

.topNavBar {
    background-color: white;
    width: 12%;
    position: sticky;
    top: 0;
    align-items: baseline;
    display: flex;
    justify-content: flex-start;
}

    .home {
        font-weight: bold;
        color: black;
        text-decoration: none;
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 15px;
        border: 1px solid black;
        border-radius: 12px;
    }

    .home:hover {
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 
                0 -1px black, 2px 2px 4px darkgray;
        border: 1px solid black;
        border-radius: 12px;
    }

    .contact {
        padding-left: 5px;
        color: black;
        padding-right: 5px;
        margin-right: 15px;
        
    }

.content {
    display: flex;
    width: 64%;
    margin-left: 17%;
    flex-direction: column;
    justify-content: center;
}

.credits{
    margin-top: 30px;
    float: right;
    font-size: 8px;
}

.intro {
    width: 25%;
    margin-top: 65px;
    margin-left: 10%;
    line-height: 200%;
    text-align: justify;
}

#corp {
    margin-top: 65px;
    line-height: 30px;
}

.emphasis {
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

hr.footer {
    width: 40%;
    margin-left: 30%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
}

.footerLink {
    text-decoration: none;
    padding-left: 6px;
    color: #686261; 
}

.footerLink:hover {
    color: black;
    text-decoration: underline;
}